/*
.divBody{
    display:none;
}*/
.tittle-container{
    display:none;
}
.removerForum{
    display: none;
}
.cabecalho{
    display:none;
}
body{
    color:#F3F3F3;
}
.links{
    display: block;
}